@import './fonts.css';
@import 'normalize.css';

:root {
  font-family: 'Pretendard', sans-serif;
  line-height: 1.4;
  letter-spacing: -0.025em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* White & Black */
  --white: #ffffff;
  --white-50: #ffffff15;
  --black: #000000;

  /* Brown */
  --brown-50: #f6f3f0;
  --brown-100: #e6ded6;
  --brown-200: #d2c2b3;
  --brown-300: #b79d86;
  --brown-400: #947761;
  --brown-500: #6b4f3a;
  --brown-600: #5a4231;
  --brown-700: #4a3527;
  --brown-800: #38271d;
  --brown-900: #241812;

  /* Gray */
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;

  /* Mauve */
  --mauve-50: #f8f3f5;
  --mauve-100: #f1e6eb;
  --mauve-200: #e3cdd6;
  --mauve-300: #d1a9b8;
  --mauve-400: #b9879c;
  --mauve-500: #7a4b5d;
  --mauve-600: #643c4a;
  --mauve-700: #4f2f3a;
  --mauve-800: #3a222a;
  --mauve-900: #241518;

  /* Typography */
  --typo-titleB: var(--black);
  --typo-titleW: var(--white);
  --typo-contentW: var(--gray-600);
  --typo-caption: var(--gray-400);

  /* Footer */
  --footer-background: var(--brown-800);
  --footer-copyright: var(--gray-400);
  --footer-context: var(--gray-300);
  --footer-divider: var(--white-50);

  /* Book */
  --book-cover: var(--mauve-500);
  --book-center: var(--mauve-600);
  --book-centerDeep: var(--mauve-700);
  --book-page: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
