@import './fonts.css';
@import 'normalize.css';

:root {
  font-family: 'Pretendard', sans-serif;
  line-height: 1.4;
  letter-spacing: -0.025em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
