.award__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.53vmax;
  flex-shrink: 0;
}

.award__pagination_arrow {
  width: 1.46vmax;
  aspect-ratio: 1 / 1;
  background: none;
  border: 1px solid var(--brown-400);
  border-radius: 0.27vmax;
  cursor: pointer;
  color: var(--black);
  font-size: var(--text-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.award__pagination_dots {
  display: flex;
  align-items: center;
  gap: 0.53vmax;
}

.award__pagination_dot {
  width: 0.834vmax;
  height: 0.834vmax;
  border-radius: 50%;
  border: 1px solid var(--brown-400);
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}

.award__pagination_dot--active {
  width: 1.88vmax;
  border-radius: 9999px;
  background-color: var(--brown-400);
}

.award__pagination_info {
  font-size: max(14px, 0.94vw);
  color: var(--brown-500);
}

@media (max-width: 1024px) {
  .award__pagination {
    gap: 1.31vw;
  }

  .award__pagination_arrow {
    width: 2.865vw;
    font-size: 1.954vw;
    border-radius: 0.652vw;
  }

  .award__pagination_dots {
    gap: 1.31vw;
  }

  .award__pagination_dot {
    width: 2.605vw;
    height: 2.605vw;
  }

  .award__pagination_dot--active {
    width: 4.69vw;
  }

  .award__pagination_info {
    font-size: 2.084vw;
  }
}

@media (max-width: 767px) {
  .award__pagination {
    gap: clamp(9px, 2.67vw, 13px);
  }

  .award__pagination_arrow {
    width: clamp(19px, 5.334vw, 27px);
    font-size: clamp(9px, 2.67vw, 13px);
    border-radius: clamp(4px, 1.34vw, 7px);
  }

  .award__pagination_dots {
    gap: clamp(9px, 2.666vw, 13px);
  }

  .award__pagination_dot {
    width: clamp(17px, 4.8vw, 24px);
    height: clamp(17px, 4.8vw, 24px);
  }

  .award__pagination_dot--active {
    width: clamp(34px, 9.6vw, 48px);
  }

  .award__pagination_info {
    font-size: clamp(13px, 3.734vw, 19px);
  }
}
