.award__year_category {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

.award__year_category button {
  background: none;
  border: none;
  cursor: pointer;

  padding: 0 0.8vw;

  font-size: 0.834vmax;
  font-weight: 400;

  color: var(--brown-200);
  border-bottom: 0.12vmax solid var(--brown-200);

  transition:
    color 0.3s,
    border-color 0.3s;
}

.award__year_category button.active {
  font-weight: 500;

  color: var(--brown-500);
  border-bottom-color: var(--brown-500);
}
