.award__year_category {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

.award__year_category button {
  background: none;
  border: none;
  cursor: pointer;

  padding: 0 0.8vmax;

  font-size: max(12px, 0.834vw);
  font-weight: 400;

  color: var(--brown-200);
  border-bottom: 2px solid var(--brown-200);

  transition:
    color 0.3s,
    border-color 0.3s;
}

.award__year_category button.active {
  font-weight: 500;

  color: var(--brown-500);
  border-bottom-color: var(--brown-500);
}

@media (max-width: 1024px) {
  .award__year_category button {
    padding: 0 1.5vw;

    font-size: 2.08vw;

    border-bottom: 2px solid var(--brown-200);
  }
}

@media (max-width: 767px) {
  .award__year_category button {
    padding: 0 clamp(8px, 2vw, 10px);

    font-size: clamp(13px, 3.73vw, 19px);

    border-bottom: 2px solid var(--brown-200);
  }
}
