.section-title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-title__description {
  display: flex;
  align-items: center;
  gap: 0.78vmax;
  color: #e7c889;
}

.section-title__description hr {
  border: none;
  border-top: 0.1vmax solid #e7c889;
  width: 4.17vmax;
}

.section-title__description p {
  font-weight: 700;
  font-size: 0.63vmax;
  letter-spacing: 0.15em;
}

.section-title h2 {
  font-family: 'BookendBatang';
  font-weight: 700;
  font-size: 3.13vmax;
}

@media (max-width: 1024px) {
  .section-title__description {
    gap: 1.95vmin;
  }

  .section-title__description hr {
    border-top: 0.26vmin solid #e7c889;
    width: 9.11vmin;
  }

  .section-title__description p {
    font-size: 1.3vmin;
  }

  .section-title h2 {
    font-size: 5.21vmin;
  }
}

@media (max-width: 767px) {
  .section-title__description {
    gap: 4vmin;
  }

  .section-title__description hr {
    border-top: 0.53vmin solid #e7c889;
    width: 16vmin;
  }

  .section-title__description p {
    font-size: 2.13vmin;
  }

  .section-title h2 {
    font-size: 8vmin;
  }
}
