.patent__card {
  width: 10.78vmax;
  height: 15.36vmax;
}

.patent__card:hover {
  box-shadow: 0 0.8vmax 1.6vmax rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .patent__card {
    width: 28.54vmin;
    height: 40.7vmin;
  }
}

@media (max-width: 767px) {
  .patent__card {
    width: 44.67vmin;
    height: 63.65vmin;
  }
}
