.patent {
  --patent-item-divider: #4c3d34;

  display: flex;
  flex-direction: column;

  width: 100%;

  align-items: center;

  gap: var(--section-title-gap);

  padding: var(--section-padding-y) var(--section-padding-x);

  background-color: var(--brown-800);
}
