.patent__content {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 1.56vmax;
}

.patent__content__title {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.52vmax;
}

.patent__content__title__text {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;

  gap: 0.52vmax;
}

.patent__content__icon {
  width: 1.56vmax;
  height: 1.56vmax;
  color: #05df72;
}

.patent__content__title__text h3 {
  font-weight: 600;
  font-size: max(18px, 1.3vw);
  color: var(--white);
}

.patent__content__title hr {
  width: 100%;

  border: none;
  border-top: 1px solid #60524a;
}

.patent__content__item__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, auto);

  column-gap: 4.17vmax;

  width: 100%;

  align-items: center;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .patent__content {
    gap: 2.6vw;
  }

  .patent__content__title {
    gap: 1.56vw;
  }

  .patent__content__title__text {
    gap: 0.65vw;
  }

  .patent__content__icon {
    width: 2.86vw;
    height: 2.86vw;
  }

  .patent__content__title__text h3 {
    font-size: 2.86vw;
  }

  .patent__content__title hr {
    border-top: 1px solid #60524a;
  }

  .patent__content__item__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);

    row-gap: 3.25vw;
    column-gap: 1.95vw;
  }
}

@media (max-width: 767px) {
  .patent__content {
    gap: clamp(19px, 5.33vw, 27px);
  }

  .patent__content__title {
    gap: clamp(11px, 3.2vw, 16px);
  }

  .patent__content__title__text {
    gap: clamp(4px, 1.33vw, 7px);
  }

  .patent__content__icon {
    width: clamp(17px, 4.8vw, 24px);
    height: clamp(17px, 4.8vw, 24px);
  }

  .patent__content__title__text h3 {
    font-size: clamp(15px, 4.27vw, 21px);
  }

  .patent__content__title hr {
    border-top: 1px solid #60524a;
  }

  .patent__content__item__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);

    row-gap: clamp(9px, 2.67vw, 13px);
    column-gap: clamp(9px, 2.67vw, 13px);
  }
}
