.milestones__container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  gap: 1.04vmax;
}

.milestones__content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  justify-content: space-evenly;
  gap: 0;
}

.milestones__year-group {
  display: flex;
  flex-direction: column;

  gap: 0.26vmax;
}

.milestones__year {
  font-weight: 700;
  font-size: var(--text-md);
  color: var(--black);
}

.milestones__ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.milestones__ul li {
  display: flex;

  gap: 1.93%;

  font-size: var(--text-sm);
  font-weight: 400;

  color: var(--black);
}

.milestones__ul li::before {
  content: '•';
  flex-shrink: 0;

  font-size: var(--text-sm);
}

@media (max-width: 1024px) {
  .milestones__container {
    gap: 1.3vw;
  }

  .milestones__content {
    align-items: flex-start;
    gap: 0;
  }

  .milestones__year-group {
    gap: 0.39vw;
  }

  .milestones__year {
    font-size: 1.56vw;
  }

  .milestones__ul li {
    gap: 0.39vw;

    font-size: 1.3vw;
  }

  .milestones__ul li::before {
    font-size: 1.3vw;
  }
}

@media (max-width: 767px) {
  .milestones__container {
    gap: clamp(9px, 2.67vw, 13px);
  }

  .milestones__year-group {
    gap: clamp(2px, 0.8vw, 4px);
  }

  .milestones__year {
    font-size: clamp(8px, 2.4vw, 12px);
  }

  .milestones__ul li {
    gap: clamp(3px, 1vw, 5px);

    font-size: clamp(8px, 2.13vw, 11px);
  }

  .milestones__ul li::before {
    font-size: clamp(8px, 2.13vw, 11px);
  }
}
