.timeline__container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  gap: 2.6vmax;
}

.timeline__ul {
  display: flex;
  flex-direction: column;

  width: 100%;

  height: 39.36vh;
  justify-content: space-between;

  list-style: none;
}

.timeline__ul li {
  display: flex;

  gap: 0.5em;

  font-size: var(--text-sm);
  font-weight: 600;

  color: var(--typo-contentW);
}

.timeline__ul li::before {
  content: '•';
  flex-shrink: 0;
  font-size: var(--text-sm);
}

.timeline__ul-placeholder {
  visibility: hidden;
}

@media (max-width: 1024px) {
  .timeline__container {
    gap: 1.3vw;
  }

  .timeline__ul {
    height: 30.67vh;
  }

  .timeline__ul li {
    font-size: 1.56vw;
  }

  .timeline__ul li::before {
    font-size: 1.56vw;
  }
}

@media (max-width: 767px) {
  .timeline__container {
    gap: clamp(9px, 2.67vw, 13px);
  }

  .timeline__ul {
    height: 28.82vh;
  }

  .timeline__ul li {
    font-size: clamp(8px, 2.13vw, 11px);
  }

  .timeline__ul li::before {
    font-size: clamp(8px, 2.13vw, 11px);
  }
}
