.history__back-cover-inner {
  position: absolute;
  inset: 0;
  background-color: var(--mauve-700);
}

.history__back-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--mauve-700);

  cursor: pointer;
  z-index: 20;

  overflow: hidden;

  border-top-left-radius: 0.78vmax;
  border-bottom-left-radius: 0.78vmax;

  transition: transform 0.4s ease-in-out;
}

.history__back-cover--centered {
  transform: translateX(50%);
}

.history__back-cover-spine {
  position: absolute;
  top: 0;
  right: 1.3vmax;

  width: 0.83vmax;
  height: 100%;

  background-color: var(--mauve-800);
  box-shadow: inset 0 0 0.21vmax rgba(0, 0, 0, 0.4);
}

.history__back-cover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  gap: 0;
}

.history__back-cover-word {
  font-size: 1.56vmax;
  font-weight: 600;

  letter-spacing: 0.1em;

  background: var(--gold-gradient);
  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: goldShine 3s linear infinite;
}

@media (max-width: 1024px) {
  .history__back-cover {
    border-top-left-radius: 1.953vmin;
    border-top-right-radius: 1.953vmin;
    border-bottom-left-radius: 0;
  }

  .history__back-cover--centered {
    transform: translateY(50%);
  }

  .history__back-cover-spine {
    position: absolute;
    top: auto;
    bottom: 1.563vmin;
    right: 0;

    width: 100%;
    height: 1.563vmin;

    box-shadow: inset 0 0 0.521vmin rgba(0, 0, 0, 0.4);
  }

  .history__back-cover-word {
    font-size: 2.604vmin;
  }
}

@media (max-width: 767px) {
  .history__back-cover {
    border-top-left-radius: 4vmin;
    border-top-right-radius: 4vmin;
  }

  .history__back-cover--centered {
    transform: translateY(50%);
  }

  .history__back-cover-spine {
    bottom: 2.667vmin;

    height: 2.667vmin;

    box-shadow: inset 0 0 1.067 rgba(0, 0, 0, 0.4);
  }

  .history__back-cover-word {
    font-size: 4vmin;
  }
}
