.history__book-cover {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}

.history__book-cover-left,
.history__book-cover-right {
  flex: 1;
  height: 100%;

  background-color: var(--mauve-500);

  z-index: 2;
}

.history__book-cover-left {
  border-radius: 0.78vmax 0 0 0.78vmax;
}

.history__book-cover-right {
  border-radius: 0 0.78vmax 0.78vmax 0;
}

.history__book-cover-center {
  position: relative;

  flex-shrink: 0;
  width: 1.35vmax;
  height: 100%;
}

.history__book-cover-center-line {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  padding: 0.26vmax 0;

  z-index: 1;
}

.history__book-cover-center-line div {
  width: 100%;
  height: 1.04vmax;

  background-color: rgba(255, 255, 255, 0.3);
}

.history__book-cover-center-spine {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: row;

  z-index: 0;
}

.history__book-cover-center-spine-left,
.history__book-cover-center-spine-right {
  width: 19.23%;
  height: 100%;

  background-color: var(--mauve-600);
}

.history__book-cover-center-spine-center {
  width: 61.54%;
  height: 100%;

  background-color: var(--mauve-700);
}
