.history__book-cover-flip {
  position: absolute;
  inset: 0;
  z-index: 15;
  perspective: 120vmax;
}

.history__book-cover-flip-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.history__book-cover-flip-panel--hidden {
  display: none;
}

.history__book-cover-flip-panel--forward {
  left: 0%;
  transform-origin: left center;
}

.history__book-cover-flip-panel--backward {
  right: 0%;
  transform-origin: right center;
}

.history__book-cover-flip-panel--animating {
  transition: transform 0.8s ease-in-out;
}

.history__book-cover-flip-panel--forward.flipping {
  transform: rotateY(-180deg);
}

.history__book-cover-flip-panel--backward.flipping {
  transform: rotateY(180deg);
}

.history__book-cover-flip-front,
.history__book-cover-flip-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  overflow: hidden;
}

.history__book-cover-flip-back {
  transform: rotateY(180deg);
}

.history__book-cover-flip-panel--forward .history__book-cover-flip-front {
  border-top-right-radius: 0.78vmax;
  border-bottom-right-radius: 0.78vmax;
}

.history__book-cover-flip-panel--forward .history__book-cover-flip-back {
  border-top-left-radius: 0.78vmax;
  border-bottom-left-radius: 0.78vmax;
}

.history__book-cover-flip-panel--backward .history__book-cover-flip-front {
  border-top-left-radius: 0.78vmax;
  border-bottom-left-radius: 0.78vmax;
}

.history__book-cover-flip-panel--backward .history__book-cover-flip-back {
  border-top-right-radius: 0.78vmax;
  border-bottom-right-radius: 0.78vmax;
}

@media (max-width: 1024px) {
  .history__book-cover-flip {
    perspective: 300vmin;
  }

  .history__book-cover-flip-panel--forward {
    left: 0;
    top: 0%;
    transform-origin: top;
  }

  .history__book-cover-flip-panel--backward {
    right: 0;
    bottom: 0%;
    transform-origin: bottom;
  }

  .history__book-cover-flip-panel--forward.flipping {
    transform: rotateX(180deg);
  }

  .history__book-cover-flip-panel--backward.flipping {
    transform: rotateX(-180deg);
  }

  .history__book-cover-flip-back {
    transform: rotateX(-180deg);
  }

  .history__book-cover-flip-panel--forward .history__book-cover-flip-front {
    border-radius: 0 0 1.953vmin 1.953vmin;
  }

  .history__book-cover-flip-panel--forward .history__book-cover-flip-back {
    border-radius: 1.953vmin 1.953vmin 0 0;
  }

  .history__book-cover-flip-panel--backward .history__book-cover-flip-front {
    border-radius: 1.953vmin 1.953vmin 0 0;
  }

  .history__book-cover-flip-panel--backward .history__book-cover-flip-back {
    border-radius: 0 0 1.953vmin 1.953vmin;
  }
}

@media (max-width: 767px) {
  .history__book-cover-flip {
    perspective: 614.4vmin;
  }

  .history__book-cover-flip-panel--forward .history__book-cover-flip-front {
    border-radius: 0 0 4vmin 4vmin;
  }

  .history__book-cover-flip-panel--forward .history__book-cover-flip-back {
    border-radius: 4vmin 4vmin 0 0;
  }

  .history__book-cover-flip-panel--backward .history__book-cover-flip-front {
    border-radius: 4vmin 4vmin 0 0;
  }

  .history__book-cover-flip-panel--backward .history__book-cover-flip-back {
    border-radius: 0 0 4vmin 4vmin;
  }
}
