.book-page-title {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: clamp(9px, 3.23cqmin, 21px);
}

.book-page-title--hidden {
  visibility: hidden;
}

.book-page-title hr {
  border: none;
  border-top: 1px solid var(--book-page-hr);
  width: clamp(141px, 50.85cqmin, 330px);
}

.book-page-title h3 {
  font-weight: var(--pretendard-bold);
  font-size: var(--fs-book-lg);

  color: var(--black);
}
