.history__title-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  gap: 1.04vmax;

  color: var(--mauve-700);
  text-align: center;
}

.history__title-page hr {
  width: 20%;

  border: none;
  border-top: 1px solid var(--book-page-hr);
}

.history__title-page-company {
  font-size: max(12px, 0.73vw);
  font-weight: var(--pretendard-semibold);

  letter-spacing: 0.3em;
}

.history__title-page-heading {
  font-family: var(--font-bookendbatang);
  font-size: max(32px, 2.6vw);
  font-weight: var(--bookendbatang-bold);

  letter-spacing: 0.15em;
}

.history__title-page-sub {
  font-size: max(14px, 0.94vw);

  letter-spacing: 0.2em;
}

.history__title-page-years {
  font-size: max(12px, 0.73vw);

  letter-spacing: 0.2em;
}

@media (max-width: 1024px) {
  .history__title-page {
    gap: 2.6vw;
  }

  .history__title-page-heading {
    font-size: 6.5vw;
  }
}
