.award__title {
  flex: 1;
}

.award__title h2 {
  color: var(--brown-800);
}

.award__title .section-title__description {
  color: var(--accent-warm);
}

.award__title .section-title__description hr {
  border-color: var(--accent-warm);
}
