.award__count {
  --count-bg: #efeae8;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;

  gap: 6px;

  padding: 6px 12px;

  border-radius: 999px;

  background-color: var(--count-bg);
  color: var(--brown-800);
}

.award__count__icon {
  width: 16px;
  height: 16px;
}

.award__count p {
  font-weight: var(--pretendard-semibold);
  font-size: var(--fs-sm);
}
