.award__count {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;

  gap: 0.36vmax;

  padding: 0.36vmax 0.78vmax;

  border-radius: 1.04vmax;

  background-color: #efeae8;
  color: #38271d;
}

.award__count__icon {
  width: 0.94vmax;
  height: 0.94vmax;
}

.award__count p {
  font-weight: 600;
  font-size: 0.78vmax;
}
