.award__title {
  display: flex;
  flex-direction: column;
}

.award__title p {
  font-weight: 600;
  font-size: 0.78vmax;
  color: #38271d;
}

.award__title h2 {
  font-weight: 600;
  font-size: 3.13vmax;
  color: #000000;
}
