.award__card_viewport {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 93.3vh;
  overflow: hidden;
}

.award__card_slider {
  display: flex;

  width: 100%;
  height: 100%;
}

.award__card_page {
  display: grid;

  flex: 0 0 100%;
  height: 100%;
  padding: 0.5vmax;
  overflow: hidden;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);

  column-gap: 3.91vmax;
  row-gap: 2.6vmax;
}

@media (max-width: 1024px) {
  .award__card_viewport {
    height: 69vh;
  }

  .award__card_page {
    padding: 0.5vw;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: 2.6vw;
    row-gap: 2.6vw;
  }
}

@media (max-width: 767px) {
  .award__card_viewport {
    height: 70.59vh;
  }

  .award__card_page {
    padding: clamp(3px, 1vw, 5px);

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: clamp(14px, 4vw, 20px);
    row-gap: clamp(14px, 4vw, 20px);
  }
}
