.history__category {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 1.56vmax;
}

.history__category button {
  font-weight: 600;
  font-size: 1.04vmax;
  color: var(--white);

  cursor: pointer;
}

.history__category button.active {
  color: var(--brown-300);
}

.history__category span {
  font-weight: 600;
  font-size: 1.04vmax;
  color: var(--white);
}
