.history {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: space-between;

  padding: 3.13vmax 4.17vmax 2.34vmax 4.17vmax;

  background-color: #1a1410;
}

.history__book {
  position: relative;

  width: 65.1vmax;
  height: 34.38vmax;

  box-shadow: 0 0.21vmax 0.21vmax rgba(0, 0, 0, 0.25);
}

.history__book-page {
  position: absolute;
  top: 0.57vmax;
  bottom: 0.57vmax;
  left: 0.78vmax;
  right: 0.78vmax;

  display: flex;
  flex-direction: row;

  perspective: 2500px;
  z-index: 4;
}
