.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25.53vh;
  align-items: center;
  justify-content: space-between;
  padding: 2.08vmax 10.42vmax;
  background-color: var(--footer-background);
}

.footer__top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer__company {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.781vmax;
}

.footer__icon-frame {
  display: flex;
  width: 2.19vmax;
  height: 2.19vmax;
  justify-content: center;
  align-items: center;
  padding: 0.26vmax;
  border-radius: 0.26vmax;
  background-color: var(--white);
  overflow: hidden;
}

.footer__icon-frame img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__company_name {
  display: flex;
  flex-direction: column;
}

.footer__company_name-kor {
  font-weight: 800;
  font-size: 0.938vmax;
  color: var(--white);
}

.footer__company_name-eng {
  font-weight: 600;
  font-size: 0.625vmax;
  color: var(--gray-500);
}

.footer__information {
  display: flex;
  flex-direction: row;
  gap: 1.3vmax;
}

.footer__information button {
  cursor: pointer;
  font-weight: 600;
  font-size: 0.729vmax;
  color: var(--gray-500);
}

.footer__information b {
  font-weight: 900;
}

.footer hr {
  width: 100%;
  border-top: 0.052vmax solid var(--footer-divider);
}

.footer__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer__left,
.footer__right {
  display: flex;
  flex-direction: column;
  gap: 0.26vmax;
}

.footer__company_owner,
.footer__contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.417vmax;
}

.footer__row {
  display: flex;
  flex-direction: row;
  gap: 0.781vmax;
  font-weight: 600;
  font-size: 0.729vmax;
}

.footer__row span:first-child {
  color: #d7d7d7;
}

.footer__row span:last-child {
  color: var(--gray-500);
}

.footer__company_split {
  font-weight: 600;
  font-size: 0.729vmax;
  color: var(--gray-500);
}

.footer__right {
  align-items: flex-end;
}

.footer__copyright {
  font-weight: 100;
  font-size: 0.625vmax;
  color: var(--footer-copyright);
}

@media (max-width: 1024px) {
  .footer {
    height: 20vh;
    padding: 2.6vmin 3.91vmin;
  }

  .footer__company {
    gap: 1.95vmin;
  }

  .footer__icon-frame {
    width: 4.69vmin;
    height: 4.69vmin;
    padding: 0.651vmin;
    border-radius: 0.651vmin;
  }

  .footer__company_name-kor {
    font-size: 2.08vmin;
  }

  .footer__company_name-eng {
    font-size: 1.3vmin;
  }

  .footer__information {
    gap: 3.26vmin;
  }

  .footer__information button {
    font-size: 1.82vmin;
  }

  .footer hr {
    border-top: 0.13vmin solid var(--footer-divider);
  }

  .footer__left,
  .footer__right {
    gap: 0.65vmin;
  }

  .footer__company_owner,
  .footer__contact {
    gap: 1.3vmin;
  }

  .footer__row {
    gap: 1.3vmin;
    font-size: 1.82vmin;
  }

  .footer__company_split {
    font-size: 1.82vmin;
  }

  .footer__copyright {
    font-size: 1.56vmin;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 23.53vh;
    padding: 4vmin 4vmin;
  }

  .footer__company {
    gap: 4vmin;
  }

  .footer__icon-frame {
    width: 7.47vmin;
    height: 7.47vmin;
    padding: 1.33vmin;
    border-radius: 1.33vmin;
  }

  .footer__company_name-kor {
    font-size: 3.2vmin;
  }

  .footer__company_name-eng {
    font-size: 2.13vmin;
  }

  .footer__information {
    gap: 2.67vmin;
  }

  .footer__information button {
    font-size: 2.67vmin;
  }

  .footer hr {
    border-top: 0.267vmin solid var(--footer-divider);
  }

  .footer__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.33vmin;
  }

  .footer__left,
  .footer__right {
    gap: 1.33vmin;
  }

  .footer__right {
    align-items: flex-start;
  }

  .footer__company_owner,
  .footer__contact {
    gap: 1.3vmin;
  }

  .footer__row {
    gap: 2.67vmin;
    font-size: 2.13vmin;
  }

  .footer__company_split {
    font-size: 2.13vmin;
  }

  .footer__copyright {
    font-size: 1.6vmin;
  }
}
