.footer {
  width: 100%;
  background-color: var(--footer-background);
  color: var(--typo-titleW);
  font-size: 0.73vw;
  padding: 3.125vw 6.25vw;
  box-sizing: border-box;
  text-align: left;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
}

.footer__company {
  justify-self: start;
  display: flex;
  flex-direction: column;
  row-gap: 1.094vw;
}

.footer__contact {
  justify-self: center;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 0.417vw;
}

.footer__address {
  justify-self: end;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 0.625vw;
}

/* 회사명 */
.footer__company-name {
  display: flex;
  flex-direction: column;
  row-gap: 0.26vw;
}

.footer__company-name-eng {
  font-size: 1.04vw;
  font-weight: 900;
}

.footer__company-name-kor {
  font-size: 0.83vw;
  font-weight: 800;
}

.footer__company-name-full {
  font-size: 0.73vw;
  font-weight: 700;
}

.footer__company-owner {
  display: flex;
  flex-direction: column;
  row-gap: 0.417vw;
}

.footer__company-row {
  display: flex;
  column-gap: 0.417vw;
  font-weight: 600;
}

.footer__company-row span {
  color: var(--footer-context);
}

/* 연락처, 이메일, 주소 */
.footer h3 {
  font-size: 1.04vw;
  font-weight: 900;
}

.footer__contact-row {
  display: flex;
  column-gap: 0.781vw;
  font-weight: 600;
}

.footer__contact-row a {
  text-decoration: none;
  color: var(--white);
}

.footer__contact-row span {
  color: var(--footer-context);
}

.footer__address span {
  font-weight: 600;
}

/* footer bottom */
.footer__bottom {
  margin-top: 1.563vw;
}

.footer hr {
  border: none;
  border-top: 1px solid var(--footer-divider);
  margin-bottom: 3.125vw;
}

.footer__bottom p {
  text-align: center;
  color: var(--footer-copyright);
  font-size: 0.65vw;
}

/*========= 태블릿 =========*/
@media (max-width: 1023px) {
  .footer {
    font-size: 1.302vw;
    padding: 2.604vw 5.21vw;
  }

  .footer__company {
    row-gap: 2.604vw;
  }

  .footer__contact,
  .footer__address {
    row-gap: 0.65vw;
  }

  /* 회사명 */
  .footer__company-name-eng {
    font-size: 2.344vw;
  }

  .footer__company-name-kor {
    font-size: 1.823vw;
  }

  .footer__company-name-full {
    font-size: 1.563vw;
  }

  .footer__company-name,
  .footer__company-owner {
    row-gap: 0.651vw;
  }

  /* 연락처, 주소 */
  .footer h3 {
    font-size: 1.823vw;
  }

  .footer__contact-row {
    column-gap: 1.693vw;
  }

  /* footer bottom */
  .footer__bottom {
    margin-top: 1.56vw;
  }

  .footer hr {
    margin-bottom: 2.604vw;
  }

  .footer__bottom p {
    font-size: 1.302vw;
  }
}

/*========= 모바일 =========*/
@media (max-width: 767px) {
  .footer {
    font-size: 2.08vw;
    padding: 4.16vw;
  }

  /*footer top (grid 2*2) */
  .footer__top {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: start;
    row-gap: 5.2vw;
    column-gap: 22vw;
  }

  .footer__company {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    row-gap: 2.5vw;
  }

  .footer__contact,
  .footer__address {
    justify-self: flex-start;
    row-gap: 1.041vw;
  }

  /* 회사이름 */
  .footer__company-name {
    row-gap: 1.041vw;
  }

  .footer__company-name-eng {
    font-size: 3.13vw;
  }

  .footer__company-name-kor {
    font-size: 2.71vw;
  }

  .footer__company-name-full {
    font-size: 2.5vw;
  }

  /* 대표자 정보 */
  .footer__company-owner {
    row-gap: 1.041vw;
  }

  .footer__company-row {
    column-gap: 3.54vw;
  }

  /* Contact & Address */
  .footer h3 {
    font-size: 2.5vw;
  }

  .footer__contact-row {
    column-gap: 2.71vw;
  }

  /* footer bottom 부분 */
  .footer__bottom {
    margin-top: 2.5vw;
  }
  .footer hr {
    margin-bottom: 4.17vw;
  }

  .footer__bottom p {
    font-size: 2.08vw;
  }
}
