.map {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  overflow: hidden;
}

.map__title {
  display: flex;
  width: 100%;
  height: 11vh;
  padding: 1.04vmax 2.6vmax;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.map__title h2 {
  color: var(--footer-background);
  font-size: 3.125vmax;
  white-space: nowrap;
  font-weight: 900;
  text-shadow: 0 4px 4px #00000040;
}

.map__title hr {
  width: 31.25vmax;
  height: 0.05vh;
  background-color: var(--gray-700);
  border-radius: 999px;
}

.map__wrapper {
  position: relative;
  width: 100%;
  flex: 1;
}

.map__content {
  width: 100%;
  height: 100%;
}

.map__description {
  color: var(--typo-titleB);
  padding: 2.6vmax 2.6vw;
  box-sizing: border-box;
}

.map__description ul {
  display: flex;
  flex-direction: row;
  gap: 10.42vw;
  list-style: none;
  justify-content: center;
  align-items: flex-start;
}

.map__description li {
  display: flex;
  flex-direction: column;
  font-size: 1.3vmax;
  gap: 0.78vmax;
}

.map__description_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.52vmax;
}

.map__description_title h3 {
  font-size: 1.56vmax;
  font-weight: 600;
}

.map__icon {
  width: 2.19vmax;
  height: 2.19vmax;
}

#map__walk {
  color: #ff00aa;
}

#map__bus {
  color: #0d99ff;
}

#map__subway {
  color: #81bf48;
}
