.map__marker {
  width: clamp(32px, 2.29vw, 48px);
  aspect-ratio: 11/14;
}

.map__marker__shadow {
  fill: var(--shadow-04);
}

.map__marker__body {
  fill: url(#pinGrad);
}

.map__marker__highlight {
  fill: var(--overlay-white-10);
}

.map__marker__circle {
  fill: var(--white);
}
