.popup__overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-black-50);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.popup:focus-visible {
  outline: none;
}

.popup {
  position: relative;
  width: 24.38vmax;
  height: 35.94vmax;
  padding: 0.782vmax;
  border-radius: 0.521vmax;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overscroll-behavior: contain;
  gap: 0.78vmax;
  background-color: var(--white);
}

.popup img {
  display: block;
  width: 100%;
  height: 100%;
}

.popup__close {
  font-size: max(22px, 1.5625vw);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--gray-700);
}

.popup__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popup__header:has(.popup__title) {
  justify-content: space-between;
}

.popup__title {
  font-family: var(--font-bookendbatang);
  font-size: max(24px, 1.667vw);
  font-weight: var(--bookendbatang-bold);
  color: var(--black);
}

.popup--gallery {
  width: 50vw;
  height: 80vh;
  padding: 1.6vmax;
  gap: 0.8vmax;
  border-radius: 0.52vmax;
}

@media (max-width: 1024px) {
  .popup {
    width: 64.584vw;
    height: 79.6svh;
    padding: 1.95vw;
    border-radius: 1.303vw;
    gap: 1.303vw;
  }

  .popup__close {
    font-size: 2.685vw;
  }

  .popup--gallery {
    width: 85vw;
    height: 70vh;
    padding: 3.13vw;
    gap: 1.56vw;
    border-radius: 1.04vw;
  }

  .popup__title {
    font-size: 3.13vw;
  }
}

@media (max-width: 767px) {
  .popup {
    width: clamp(321px, 91.73vw, 459px);
    height: 74.7svh;
    padding: clamp(14px, 4vw, 20px);
    border-radius: clamp(9px, 2.666vw, 13px);
    gap: clamp(14px, 4vw, 20px);
  }

  .popup__close {
    font-size: clamp(16px, 4.585vw, 23px);
  }

  .popup--gallery {
    width: 95vw;
    height: 75vh;
    padding: clamp(14px, 4vw, 20px);
    gap: clamp(8px, 2vw, 10px);
    border-radius: clamp(8px, 2vw, 10px);
  }

  .popup__title {
    font-size: clamp(15px, 4.27vw, 21px);
  }
}
