.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  font-weight: 700;
  overflow: hidden;
}

.hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(10px);
}

.hero__company {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.64vmax;
  animation: fade-in 1.2s ease-out forwards;
}

.hero__logo {
  height: 16.67vmax;
  filter: drop-shadow(0 0 2.08vmax rgba(0, 0, 0, 1));
}

.hero__company-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap;
  gap: 0.52vmax;
  text-shadow: 0 0 2.08vmax rgba(0, 0, 0, 1);
}

.hero__company-text hgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.52vmax;
}

.hero__company-name {
  font-size: 6.25vmax;
}

.hero__company-name-en {
  font-size: 2.6vmax;
}

.hero__established {
  font-size: 2.08vmax;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

@keyframes fade-in-mobile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce-down {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
    -webkit-transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
    -webkit-transform: translateX(-50%) translateY(10px);
  }
}

.hero__down-icon {
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 2.5%;
  left: 50%;
  animation: bounce-down 2s ease-in-out infinite;
  --size: 3.13vmax;
  width: var(--size);
  height: var(--size);
  filter: drop-shadow(0 0 2.08vmax rgba(0, 0, 0, 1));
}

@media (max-width: 1024px) {
  .hero__company {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
    -webkit-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    filter: none;
    animation: fade-in-mobile 1.2s ease-out forwards;
    gap: 0;
    padding-top: 9.77vmin;
  }

  .hero__company::after {
    content: '';
    display: block;
    order: 3;
    height: calc(9.11vmin + 4.56vmin * 1.4);
  }

  .hero__logo {
    position: static;
    transform: none;
    -webkit-transform: none;
    order: 2;
    height: 37.5vmin;
    width: auto;
    filter: drop-shadow(0 0 5.21vmin rgba(0, 0, 0, 1));
  }

  .hero__company-text {
    position: static;
    transform: none;
    -webkit-transform: none;
    order: 1;
    align-items: center;
    gap: 1.82vmin;
    text-shadow: 0 0 5.21vmin rgba(0, 0, 0, 1);
  }

  .hero__company-text hgroup {
    align-items: center;
    gap: 1.82vmin;
  }

  .hero__company-name {
    font-size: 9.11vmin;
  }

  .hero__company-name-en {
    font-size: 5.21vmin;
  }

  .hero__established {
    position: absolute;
    bottom: 9.11vmin;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-size: 4.56vmin;
  }

  .hero__down-icon {
    bottom: 2.34%;
    --size: 6.51vmin;
    width: var(--size);
    height: var(--size);
    filter: drop-shadow(0 0 5.21vmin rgba(0, 0, 0, 1));
  }
}

@media (max-width: 767px) {
  .hero__company {
    padding-top: 16vmin;
  }
  .hero__company::after {
    height: calc(13.33vmin + 4.53vmin * 1.4);
  }

  .hero__logo {
    height: 54.13vmin;
    filter: drop-shadow(0 0 10.67vmin rgba(0, 0, 0, 1));
  }

  .hero__company-text {
    gap: 2.13vmin;
    text-shadow: 0 0 10.67vmin rgba(0, 0, 0, 1);
  }

  .hero__company-text hgroup {
    gap: 2.13vmin;
  }

  .hero__company-name {
    font-size: 10.67vmin;
  }

  .hero__company-name-en {
    font-size: 5.33vmin;
  }

  .hero__established {
    font-size: 4.53vmin;
    bottom: 13.33vmin;
  }

  .hero__down-icon {
    bottom: 2%;
    --size: 10.93vmin;
    width: var(--size);
    height: var(--size);
    filter: drop-shadow(0 0 10.67vmin rgba(0, 0, 0, 1));
  }
}
