.hero {
  position: relative;
  width: 100%;
  height: 100dvh;
  font-weight: 700;
  letter-spacing: -0.025em;
  overflow: hidden;
}

.hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__company {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.65%;
}

.hero__logo {
  height: 29.63vmin;
}

.hero__company-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.56%;
}

.hero__company-name {
  white-space: nowrap;
  font-size: 6.25vw;
}

.hero__company-name-en {
  white-space: nowrap;
  font-size: 2.6vw;
}

.hero__established {
  position: absolute;
  transform: translate(-50%);
  bottom: 8%;
  left: 50%;
  white-space: nowrap;
  font-size: 2.08vw;
}

@keyframes bounce-down {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
}

.hero__down-icon {
  position: absolute;
  transform: translateX(-50%);
  bottom: 2.5%;
  left: 50%;
  animation: bounce-down 2s ease-in-out infinite;
  --size: 3.13vmax;
  width: var(--size);
  height: var(--size);
}

@media (max-width: 1024px) {
  .hero__company {
    position: static;
    transform: none;
    display: block;
  }

  .hero__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 31.25vmax;
  }

  .hero__company-text {
    position: absolute;
    top: 9.28%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  .hero__company-name {
    font-size: 10.42vw;
  }

  .hero__company-name-en {
    font-size: 5.21vw;
  }

  .hero__established {
    bottom: 7.23%;
    font-size: 4.56vw;
  }

  .hero__down-icon {
    bottom: 2.34%;
    --size: 4.88vmax;
    width: var(--size);
    height: var(--size);
  }
}
